<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleListado.css">
    <title>Document</title>
</head>
<body>
    <div>
        <%- include("./partials/header") %>
    </div>

    <section class="articulos">
        <% productos.forEach(function(productos){ %>
            <article>
                <div>
                    <p>imagen</p>
                    <img src="/images/<%=productos.img%>" alt="">
                </div>
                <div>
                    <p>info del juego</p>
                    <ul>
                        <li>Nombre: <%= productos.nombreJuego %>  </li>
                        <li>Descuento: <%=productos.descuento  %>  </li>
                        <li>Precio: $ <%=productos.precio %>  </li>
                    </ul>
                </div>
            </article>
        <% }) %>
    </section>

<div>
    <%- include("./partials/footer") %>
</div>
</body>
</html>