<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleregistro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Registro</title>
    
</head>
<body>
    <%- include("./partials/header") %>
    <main>
        <div class="logo"> <img src="/images/Logo rxgames.png" alt=""></div>
    <div class="formularios">
        <% if(locals.errors)  { %> 
            <% errors.forEach(error => {  %> 
                <p> <%= error.msg %> </p>
            <% }) %> 
        <% } %> 

        <form action="/registro" method="POST" >
        <div class="leftside">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" value=" <%= locals.old && old.nombre ? old.nombre : '' %> ">

            <label for="nickname">Nickname:</label>
            <input type="text" name="nickname" id="nickname">

            <label for="email1">Email:</label>
            <input type="email" name="email1" id="email1" value=" <%= locals.email1 && old.email1 ? old.email1 : '' %> ">

            <label for="email">Repita email:</label>
            <input type="email" name="email" id="email" value=" <%= locals.email && old.email ? old.email : '' %> ">
        </div>
        <div class="rightside">
            <label for="password1">Contraseña:</label>
            <input type="password" name="password1" id="password1" value=" <%= locals.password1 && old.password1 ? old.password1 : '' %> ">

            <label for="password">Confirmar :</label>
            <input type="password" name="password" id="password" value=" <%= locals.password && old.password ? old.password : '' %> ">

            <label for="pais"> País:</label>
            <input type="text" name="pais" id="pais">
        
            <label for="edad"> Edad:</label>
            <input type="text" name="edad" id="edad">
        </div>
    </div>

    

    <div class="errorForm">
    <% if (typeof errorMessage != "undefined") { %>
        <p>El form no se pudo entregar por un error:</p>
        <p><%= errorMessage %></p>
    <% } %>
    </div>



    <div id="checkboxes">
        
        <div id="checkbox1">
        <input type="checkbox" name="Confirmar" value="si" id="caja1">
        <label for="newlestter"> Le gustaría recibir noticias o información acerca de relax games?</label>
        
        </div>
        <div id="checkbox2">
        <input type="checkbox" name="Confirmar" value="si" id="caja2">
        <label for="terminos"> Acepta los términos y condiciones de servicio?</label>
        </div>
    </div>

    <button class="botoncontinuar" type="submit" > Continuar </button>
     </form>
    
    </main>
    <%- include("./partials/footer") %>
</body>
            
</html>

